/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}



/* Inicio */

.banner-principal{

    width: 100%;




}

/* Parrafo */





    /* Eras Tour */

    /* Banner */



    /* Tablas */
   th{
    padding: 50px;
    text-transform: uppercase;

   }

   td{
    padding: 30px;

   }

   a{
    padding: 50px;
   }

   
   
   /* Discografia */




   .cards-container{
    display: flex;
    padding: 60px;
    gap: 30px;
    justify-content: center;
    
   }

   .card{
    color: #625548;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   }

   .informacion{
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    font-size: smaller;
    
   }


   .disco-1-imagen{
    width: 300px;
    

   }

 

    /* Multimedia */
    /* Imagenes galeria */

    main{
        margin: 30px 30px;   
        display: grid;
        grid-template-columns: 1fr;
        
        row-gap: 2rem;
        align-content: center;

    }

    

    main div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .img-dos, main .img-cinco{
        display: none;
    }

    /* Formulario de contacto */

    .container-form{
        width: 100px; 
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: left;
        grid-gap: 50px;
        margin-top: 90px;
        
    }

    .container-form h2{
        margin-bottom: 15px;
        font-size: 50px;
        
    }

    .container-form p{
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 3; 
    }

.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea{
    max-width: 600px;
    min-width: 600px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: #EDECE8;

} 

/* estilos del footer */

    footer{
        text-align: center;
        background-color: #EDECE8;
        padding: 15px;

    }

           /* estilos de tablet */

@media screen and (min-width:600px){
    main{

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 1.5rem;

    }

    main .img-cuatro{
        grid-column: span 2;
    }

    }

    /* estilos de desktop */

    @media screen and (min-width:1024px){
        main .img-dos, main .img-cinco{
            display: block;
        }

        main{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 30% 30% 20%;
        }

        main .img-uno, main .img-tres{
            grid-row: span 2;
        }

        main .img-dos, main .img-cuatro{
            grid-column: span 1;
        }

        main .img-cinco{

            grid-column: span 3;
        }

    }


    
