/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}



/* Inicio */
.banner-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.banner-principal img{

    width: 100%;

}

main{

  grid-template-columns: 1fr;
  
  row-gap: 2rem;
  align-content: center;
 

}



/* Parrafo */

.texto-inicio{

    text-align: center;
    padding: 20px;
}



    /* Eras Tour */

    /* Tablas */

    .container{

        text-align: center;
    }

   th{
    padding: 50px;
    text-transform: uppercase;
    text-align: center;

   }

   td{
    padding: 30px;

   }

   a{
    padding: 200px;
   }

   
   
   /* Discografia */


.cards{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap:40px;
    
}

   

.discografia{
    text-align: center;
}
 

    /* Multimedia */
    /* Imagenes galeria */

    .contenedor{
          margin: 1.8rem 1.8rem;    
          display: grid; 
        grid-template-columns: 1fr;  
        grid-template-rows: repeat(3 20%);
        row-gap: 1.5rem;
        align-content: center;
        

    }

    

    main div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
  
        
        
    }

    main .img-dos, main .img-cinco{
        display: none;
    }

    /* Formulario de contacto */


.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea{
    max-width: 600px;
    min-width: 600px;
    min-height: 140px;
    max-height: 150px;
}

.form-area{
    padding-top: 1%;
    padding-bottom: 1%;
}

.left{
    text-align: left;
}

/* estilos del footer */

    footer{
        text-align: center;
        background-color: #EDECE8;
        padding: 10px;
        
    }

           /* estilos de tablet */



@media screen and (min-width:600px){
    header{
        justify-content: space-between;
        
    }

    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 1.5rem;
    }

    .contenedor, .img-cuatro{
        grid-column: span 2;
    }

}

    /* estilos de desktop */


@media screen and (min-width:1024px){
    .contenedor .img-dos, .contenedor .img-cinco{
        display: block;
    }

    .contenedor{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30% 30% 20%;
    }

    .contenedor .img-uno, .contenedor .img-tres{
        grid-row: span 2;

    }

    .contenedor .img-dos, .contenedor .img-cuatro{
        grid-column: span 1;
    }

    .contenedor .img-cinco{

    
        grid-column: span 3;
    }
}


    
