//import de variables

@import "../utilidades/variables";
@import"../utilidades/mixin";

/* estilos  */

/* Inicio */
.banner-principal {
    display: none;

    img {
        width: 100%;
        opacity: 90%;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.banner-vertical {
    img {
        width: 100%;
        opacity: 90%;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* Texto de Inicio */
.texto-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 15px;
    width: 100%;
    line-height: 2.0;
    color: white;
    z-index: 1;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

    h1 {
        font-size: 2rem;
    }

    &.grande {
        h1 {
            font-size: 5rem;
        }
    }
}

/* Header */
header {
    z-index: 10;
    position: relative;

    .nav-link {
        padding: 10px 15px;
        font-size: 1.5rem;
        margin-right: 0px;
    }
}

/* Main */
main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    align-content: center;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .img-dos,
        .img-cinco {
            display: none;
        }
    }
}

/* Discografía */
.discografia {
    text-align: center;
    padding: 30px;
    margin: 0;

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            flex: 1 1 100%; /* Toma todo el ancho en móviles */
            max-width: 30rem; /* Limita el ancho máximo */
            margin: 10px; /* Espaciado entre tarjetas */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;

            .card-img-top {
                width: 100%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }
    }
}

/* Formulario de Contacto */
.container-form {
    form {
        margin: 40px 0;

        .campo,
        textarea {
            width: 100%;
            padding: 15px 10px;
            font-size: 15px;
            margin-bottom: 30px;
            border-radius: 3px;
            outline: 0px;
        }

        textarea {
            max-width: 600px;
            min-width: 600px;
            min-height: 140px;
            max-height: 150px;
        }
    }
}

/* Estilos del Footer */
footer {
    text-align: center;
    background-color: #EDECE8;
    padding: 10px;
    position: relative;
    z-index: 10;
}

