//mixin flex

@mixin estilo-boton($color-fondo, $color-texto: white) {
    padding: 10px 15px;
    background-color: $color-fondo;
    color: $color-texto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($color-fondo, 10%);
    }
}

@mixin efecto-escala($escala: 1.1) {
    transition: transform 0.3s;

    &:hover {
        transform: scale($escala);
    }
}

@mixin estilo-texto($tamanio, $color: white, $alineacion: center) {
    font-size: $tamanio;
    color: $color;
    text-align: $alineacion;
}