/* variables de color */

$color-fondo-footer:#EDECE8;
$color-boton: #007bff;
$color-boton-hover: #0056b3;
$color-sombra-texto: rgba(0, 0, 0, 0.8);
$color-borde: #ddd;

/* variables de tamaño de fuente */

$fuente-chica: 0.7rem;
$fuente-normal: 1.5rem;
$fuente-grande: 2rem;
$fuente-x-grande: 3rem;
$fuente-xx-grande: 5rem;

/* variables de transiciones */

$transicion-normal: 0.5s ease-in-out;
$transicion-lenta: 7s ease-in-out;