

/* colores */
$color-blanco: white;
$color-negro: rgba(0, 0, 0, 0.8);
$color-azul: #007bff;
$color-azul-oscuro: #0056b3;
$color-fondo: #EDECE8;

/* padding */

$padding-pequeno: 10px;
$padding-medio: 15px;
$padding-grande: 30px;

/* tamaño de fuente */

$fuente-titulo: 2rem;
$fuente-subtitulo: 1.5rem;

/* transiciones */

$transicion: all 0.5s ease-in-out;